<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.digihippo.cryptnet.espionage"
          android:versionCode="1"
          android:versionName="0.0.1"
          android:installLocation="preferExternal">
    <uses-sdk android:minSdkVersion="21"
              android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:label="Espionage">
        <activity
                android:name="EspionageActivity"
                android:configChanges="orientation|screenSize"
                android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
